 <div class="login" style="align-content: center">


 <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
     <p>Chào mừng đến hệ thống đăng kí thi</p>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
         
          <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
   
          
        </nz-form-control>
      </nz-form-item>
    </form>
<div>
