
<div>
<nz-table nzTemplateMode >
      <thead>
        <tr>
          <th>Số TT</th>
          <th>Mã môn học </th>
          <th>Môn thi </th>
          <th>Ca thi</th>
          <th>Phòng thi</th>
          <th>Ngày thi </th>
          <th>Giờ bắt đầu-Giờ kết thúc </th>
          <th>Số lượng(3/100) </th>
         
      
          <th>Chức năng </th>
         
        </tr>
      </thead>
      <tbody>
          
        <tr *ngFor="let data of listOfData">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
      
          <td>{{ data.address }}</td>
          <td>
            <a>Đăng k</a>
            
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
   
<div>
        <nz-table nzTemplateMode #basicTable [nzData]="listOfData">
              <thead>
                <tr>
                  <th>Kì thi </th>
                  <th>Môn thi </th>
                  <th>Ca thi</th>
                  <th>Phòng thi</th>
                  <th>Ngày thi </th>
                  <th>Giờ bắt đầu-Giờ kết thúc </th>
                 
                 
              
                  <th>Chức năng </th>
                 
                </tr>
              </thead>
              <tbody>
                  
                <tr *ngFor="let data of basicTable.data">
                  <td>{{ data.name }}</td>
                  <td>{{ data.age }}</td>
              
                  <td>{{ data.address }}</td>
                  <td>
                    <a>Đăng k</a>
                    
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
           