<div>
    <nz-input-group nzSize="large" style="padding: 4px">
        <input type="file" (change)=onFileChange($event)/>
    </nz-input-group>

    <nz-table *ngIf="isImport" nzTemplateMode nzBordered>
        <thead>

        <tr>
            <th>STT</th>
            <th>
                <label
                        nz-checkbox
                        [(ngModel)]="allChecked"
                        (ngModelChange)="updateAllChecked()"
                        [nzIndeterminate]="indeterminate"
                >
                    Chọn tất cả
                </label>

            </th>

            <th>Mã</th>
            <th>Họ và tên</th>
            <th>Tài khoản</th>
            <th>Mật khẩu</th>
            <th>Thông báo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of listUser;index as i">
            <td>{{ i + 1}}</td>
            <td><label nz-checkbox [(ngModel)]="data.isCheck"
                       (ngModelChange)="updateSingleChecked(i)"></label></td>

            <td>{{ data.code }}</td>
            <td>{{ data.full_name }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.password}}</td>
            <td *ngIf="data.isRegisterComplete">
                Thành công

            </td>
            <td *ngIf="data.isRegisterComplete===false">
                {{data.message}}

            </td>
            <td *ngIf="data.isRegisterComplete!=true &&data.isRegisterComplete!==false">


            </td>
        </tr>
        </tbody>
    </nz-table>
</div>




