<div>
<div id="seach">
    <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
        <input [(ngModel)]="examName" (ngModelChange)="getListExam()" type="text" nz-input placeholder="Tên kì thi"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
</div>

<button nz-button  nzType="primary" (click)="addExam()"
                       >Tạo kì thi
                </button>
<div>
    <nz-table nzTemplateMode nzBordered>
        <thead>
        <tr>
            <th>Stt</th>
            <th>Kì thi</th>
            <th>Trạng thái</th>

            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of listExam ; index as i">
            <td>{{ i + 1}}</td>
            <td *ngIf="!data.isEdit">{{ data.name }}</td>
            <td *ngIf="data.isEdit"><input nz-input placeholder="Basic usage" [(ngModel)]="data.name"/></td>
            <td *ngIf="data.isEdit">
                <nz-select nzShowSearch nzServerSearch nzPlaceHolder="Môn học" [(ngModel)]="exam.status"
                           (ngModelChange)="change(i,exam.status)"
                           [nzShowArrow]="false">
                    <nz-option [nzLabel]="'Mở'" [nzValue]="true"></nz-option>
                    <nz-option [nzLabel]="'Đóng'" [nzValue]="false"></nz-option>
                </nz-select>
            </td>
            <td *ngIf="data.status&&!data.isEdit"> Mỏ</td>
            <td *ngIf="!data.status&& !data.isEdit"> Đóng</td>
            <td *ngIf="!data.isEdit">
                <button nz-button  nzType="default" (click)="editExam(i)"
                        [nzLoading]="data.isLoading">Sửa
                </button>
                <nz-divider nzType="vertical"></nz-divider>
                <button nz-button  nzType="danger" (click)="deleteExam(i)"
                        [nzLoading]="data.isLoading">Xóa
                </button>


            </td>
            <td *ngIf="data.isEdit">

                <button nz-button [nzSize]="size" nzType="primary" (click)="editSubmitExam(i)"
                        [nzLoading]="data.isLoading">Ok
                </button>
                <button nz-button [nzSize]="size" nzType="primary" (click)="editCancel(i)"
                        [nzLoading]="data.isLoading">Cancel
                </button>


            </td>
        </tr>
        </tbody>
    </nz-table>
</div>
    <nz-pagination [nzPageIndex]="page" (nzPageIndexChange)="changePage($event)" [nzTotal]="(page+2)*10"></nz-pagination>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Tạo ca thi " (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

    <app-exam-information [exam]='exam'></app-exam-information>
</nz-modal>
</div>
