<div>
    <nz-table nzTemplateMode #basicTable >
          <thead>
            <tr>
              <th>Môn thi </th>
              <th>Ca thi</th>
              <th>Phòng thi</th>
              <th>Ngày thi </th>
              <th>Chỗ ngồi</th>
              <th>Giờ bắt đầu-Giờ kết thúc </th>
             
             
          
              <th>Chức năng </th>
             
            </tr>
          </thead>
          <tbody>
              
              <tr *ngFor="let data of yourSchedule;index as i">
                  <td>{{ i+1}}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.subject_id.name }}</td>
                  <td>{{ data.room_id}}</td>
                  <td>{{ data.day}}</td>
                  <td>{{ data.time_start +'-'+ data.time_end}}</td>
                  <td >
                    <button nz-button [nzSize]="size" nzType="primary" (click)="print(i)"  [nzLoading]="data.isLoading">In</button>
                    
                  </td>
          </tbody>
        </nz-table>
        <button nz-button [nzSize]="size" nzType="primary" (click)="print(1)"  [nzLoading]="data.isLoading">In</button>
      </div>