<button nz-button  (click)="showModal()"><i nz-icon nzType="upload"></i><span>Tạo ca thi</span></button>
<div>
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Kì thi </th>
        <th>Môn thi </th>
        <th>Phòng thi</th>
        <th>Ngày thi </th>
        <th>Giờ bắt đầu-Giờ kết thúc </th>
        <th>Số sinh viên </th>



        <th>Chức năng </th>

      </tr>
    </thead>
    <tbody>





      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.exam }}</td>
        <td>{{ data.subject}}</td>

        <td>{{ data.room }}</td>


        <td>{{ data.day }}</td>
        <td>{{ data.start_time +"-"+data.end_time}}</td>
        <td>{{ data.no_of_student+'/'+data.max_student  }}</td>
        <td>
          <a>Update</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>

        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Tạo ca thi " (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  
    <app-modal-create-schedule [shift] = "schedule"></app-modal-create-schedule>      
</nz-modal>