<nz-layout id="contantion">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

            <li *ngIf="isAdmin()" nz-submenu nzTitle="Quản lý sinh viên" >
                <ul>

                    <li nz-menu-item [routerLink]="['/','dashboard','cap-tai-khoan']" routerLinkActive="active">Cấp tài
                        khoản
                    </li>

                    <li nz-menu-item [routerLink]="['/','dashboard','sinh-vien-mon-hoc']">Sinh viên môn học</li>


                </ul>

            </li>
            <li *ngIf="isAdmin()" nz-menu-item [routerLink]="['/','dashboard','lich-thi']">

                <span>Lịch thi</span>
            </li>


            <li *ngIf="isAdmin()" nz-menu-item [routerLink]="['/','dashboard','mon-hoc']">

                <span>Quản lý môn thi</span>
            </li>
            <li nz-menu-item *ngIf="isAdmin()==false" [routerLink]="['/','dashboard','dang-ky']">

                <span>Đăng kí ca thi</span>
            </li>
            <li *ngIf="isAdmin()" nz-menu-item [routerLink]="['/','dashboard','ki-thi']">

                <span>Quản lý kì thi </span>
            </li>
             <li *ngIf="isAdmin()==false" nz-menu-item [routerLink]="['/','dashboard','in-dang-ky']">In đăng kí</li>


        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
               (click)="isCollapsed = !isCollapsed"></i>



            <button nz-button nzType="default" nzSize="large" nz-dropdown [nzDropdownMenu]="menu" style="position: relative;left: 75%"> <nz-avatar class="trigger" nzIcon="user" style="background-color:#87d068;color: gray" nz-dropdown
                         ></nz-avatar> Xin chào  {{getFullName()}}  <i nz-icon nzType="down"></i></button>

        </nz-header>
        <nz-content>

            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>

    </nz-layout>
</nz-layout>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Thay đổi mật khẩu " (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

    <app-change-password></app-change-password>
</nz-modal>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item (click)=changePassword()>Thay đổi mật khẩu</li>
        <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout" nzTheme="outline"></i>Đăng xuất</li>

    </ul>
</nz-dropdown-menu>
