<div id="list-user">
    <div id="seach">
       <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
      <input [(ngModel)]="code"  (ngModelChange)="getListUser()" type="text" nz-input placeholder="Mã sinh viên hoặc tên " />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
    </div>
    <nz-table nzTemplateMode nzBordered>
        <thead>
        <tr align ="center">
             <th>STT</th>
            <th>Mã</th>
            <th>Họ và tên</th>
            <th>Tài khoản</th>

            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of listOfData;index as i" align="center">
              <td>{{ i+1 +page*10}}</td>
            <td>{{ data.code }}</td>
            <td>{{ data.full_name }}</td>
            <td>{{ data.username }}</td>


            <td>
                <button nz-button (click)="showModal(i) "nzType="default">Cập nhật</button>
                 <nz-divider nzType="vertical"></nz-divider>
                <button nz-button (click)="showModalChangePassword(i)"nzType="primary">Sửa mật khẩu</button>
                 <nz-divider nzType="vertical"></nz-divider>
                <button nz-button (click)="deleteUser(i)"nzType="danger">Xóa</button>

            </td>
        </tr>
        </tbody>
    </nz-table>

</div>
 <nz-pagination [nzPageIndex]="page" (nzPageIndexChange)="changePage($event)" [nzTotal]="(page+2)*10"></nz-pagination>
<nz-modal [(nzVisible)]="isVisible" nzTitle='{{this.title}}' (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <app-information-user *ngIf="title=='Sửa thông tin'" [userInfromation]="userInfromation"></app-information-user>
    <app-change-password-user [userInfromation] *ngIf="title=='Sửa mật khẩu'"></app-change-password-user>
</nz-modal>


