
      .login-form {
        max-width: 300px;
        position: relative;
        left: 50px
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }
      .login{
         max-width: 400px;
        background-color: white;
        position: relative;
        bottom: 10%;
        left: 30%;
        z-index : 1

      }
      #iconuet{
        max-height: 75px
      }
